<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="..\..\..\Logs\nlog-app.log">
  
  <variable name="logDirectory"  value="${basedir}/logs/${shortdate}" />

  <targets>
    <!-- database -->
    <target name="log" xsi:type="Database" keepConnection="true" useTransactions="true"
             dbProvider="System.Data.SqlClient"
             connectionString="data source=VAIO\DOMINATION;initial catalog=ARCHITECTURELOG;integrated security=true;"
              commandText="INSERT INTO COR.Log(EventDateTime, EventLevel, CorrelationId, MachineName, EventMessage,ErrorType, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage) VALUES (@EventDateTime, @EventLevel, @OperationKey, @MachineName, @EventMessage,@ErrorType, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage)">

      <!-- parameters for the command -->
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@OperationKey" layout="${activityid}"/>
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@ErrorType" layout="${event-properties:item=errorType}" />
      <parameter name="@ErrorSource" layout="${event-properties:item=errorSource}" />
      <parameter name="@ErrorClass" layout="${event-properties:item=errorClass}" />
      <parameter name="@ErrorMethod" layout="${event-properties:item=errorMethod}" />
      <parameter name="@ErrorMessage" layout="${event-properties:item=errorMessage}" />
      <parameter name="@InnerErrorMessage" layout="${event-properties:item=innerErrorMessage}" />
    </target>
       <target name="journalins" xsi:type="Database" keepConnection="true" useTransactions="true"
             dbProvider="System.Data.SqlClient"
             connectionString="data source=VAIO\DOMINATION;initial catalog=ARCHITECTURELOG;integrated security=true;"
             commandType="StoredProcedure"
             commandText="[ARCHITECTURELOG].[COR].[ins_Journal]">

      <!-- parameters for the command -->
      <parameter name="@OperationKey" layout="${event-properties:item=OperationKey}" />
      <parameter name="@TranDate" layout="${event-properties:item=TranDate}" />
      <parameter name="@TransactionName" layout="${event-properties:item=TransactionName}"/>
      <parameter name="@HasException" layout="${event-properties:item=HasException}" />
      <parameter name="@Request" layout="${event-properties:item=Request}" />
      <parameter name="@Response" layout="${event-properties:item=Response}" />
      <parameter name="@ExecutionTree" layout="${event-properties:item=ExecutionTree}" />
      <parameter name="@LanguageId" layout="${event-properties:item=LanguageId}" />
      <parameter name="@UserName" layout="${event-properties:item=UserName}" />
      <parameter name="@HostName" layout="${event-properties:item=HostName}" />
      <parameter name="@SystemDate" layout="${event-properties:item=SystemDate}" />
      <parameter name="@HostIp" layout="${event-properties:item=HostIp}" />
       
    </target>
    <target name="journalupd" xsi:type="Database" keepConnection="true" useTransactions="true"
             dbProvider="System.Data.SqlClient"
             connectionString="data source=VAIO\DOMINATION;initial catalog=ARCHITECTURELOG;integrated security=true;"
             commandType="StoredProcedure"
             commandText="[ARCHITECTURELOG].[COR].[upd_Journal]">

      <!-- parameters for the command -->
      <parameter name="@OperationKey" layout="${event-properties:item=OperationKey}" />
      <parameter name="@Duration" layout="${event-properties:item=Duration}" />
      <parameter name="@HasException" layout="${event-properties:item=HasException}" />
      <parameter name="@Response" layout="${event-properties:item=Response}" />
      <parameter name="@ExecutionTree" layout="${event-properties:item=ExecutionTree}" />
      <parameter name="@UpdateUserName" layout="${event-properties:item=UpdateUserName}" />
      <parameter name="@UpdateSystemDate" layout="${event-properties:item=UpdateSystemDate}" />

    </target>
    
     <target name="FileManager"
           xsi:type="File"
           layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${activityid} ${machinename} ${event-properties:item=userName}
            ${event-properties:item=hostIp} ${message} ${event-properties:item=errorType} ${event-properties:item=errorSource} ${event-properties:item=errorClass} ${event-properties:item=errorMethod} ${event-properties:item=errorMessage} ${event-properties:item=innerErrorMessage}"
           fileName="${logDirectory}/log.log"
           archiveFileName="${logDirectory}/log.{#}.log"
           archiveEvery="Day"
           archiveNumbering="Rolling"
           maxArchiveFiles="7"
           concurrentWrites="true"
           createDirs="true"
           autoFlush="true">
      
    </target>
    <target name="FileManager2"
           xsi:type="File"
           layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${activityid} ${machinename} ${event-properties:item=userName}
            ${event-properties:item=hostIp} ${message} ${event-properties:item=errorType} ${event-properties:item=errorSource} ${event-properties:item=errorClass} ${event-properties:item=errorMethod} ${event-properties:item=errorMessage} ${event-properties:item=innerErrorMessage}"
           fileName="${logDirectory}/log2.log"
           archiveFileName="${logDirectory}/log.{#}.log"
           archiveEvery="Day"
           archiveNumbering="Rolling"
           maxArchiveFiles="7"
           concurrentWrites="true"
           createDirs="true"
           autoFlush="true" >
    </target>
  </targets>
  <rules>
    <!-- logging rules here -->
    <logger name="*" minlevel="Error" writeTo="log" />
    <logger name="insertjournal" minlevel="Info" writeTo="journalins" />
    <logger name="updatejournal" minlevel="Trace" writeTo="journalupd" />
    <logger name="*" minlevel="Error" writeTo="FileManager" />
    <logger name="*" minlevel="Error" writeTo="FileManager2" />
  </rules>
</nlog>