<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExecuteRequest" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55728/ExecuteRequest.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExecuteRequest"
                contract="ExecuteService.IExecuteRequest" name="BasicHttpBinding_IExecuteRequest" />
        </client>
    </system.serviceModel>
</configuration>
