<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="6553500"/>
          <serviceAuthorization serviceAuthorizationManagerType="Architecture.WCFService.AuthorizationManager,Architecture.WCFService"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="metadataBehavior" name="Architecture.ExecuteService.ExecuteService">
        <!--<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Architecture.WCFService.IExecuteService"/>-->      
        <endpoint address="ws" binding="wsHttpBinding" contract="Architecture.ExecuteService.IExecuteService"/>
        <endpoint address="basic" binding="basicHttpBinding" contract="Architecture.ExecuteService.IExecuteService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://vaio/Architecture.WCFService/api/Soap/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
<!--ProjectGuid: 90A64659-5C63-4471-AC99-CD81CC15CBCC-->