<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="mexBahavior" name="Architecture.ExecuterService.ExecuterService">
        <endpoint address="ExecuterService" binding="basicHttpBinding" contract="Architecture.ExecuterService.IExecuterService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80" />
          </baseAddresses>
        </host>        
      </service>
    </services>
  <behaviors>
      <serviceBehaviors>
        <behavior name="mexBahavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>
